{% extends 'base.html' %}

{% block content %}

<div class="signup-text">
  
</div>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
<div class="signup-container">
  <img src="https://i.ibb.co/WfBwzk9/cute-bird-silhouette-isolated-icon-design-vector-9482655.png" alt="tweepy logo">
  <h1>Join Tweeter today!</h1>
  <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="signup-btn">
      <input type="submit" class="btn" value="Sign Up">
    </div>
  </form>
</div>

{% endblock %}