{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tweepy</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  <body>

    <div id="left-navigation">
      <p><a href=""><img src="{% static 'img/tweep.png' %}" alt="logo.txt"/></a></p>
      <p><a href="/tweeps"><i class="ri-home-2-line"></i></a></p>
      <p><a href="{% url 'tweeps_create' %}"><i class="ri-add-circle-line"></i></p></a>
      <!-- <p><a href="/tweeps"><i class="ri-hashtag"></i></a></p> -->
      <p><a href=""><i class="ri-notification-4-line"></i></a></p>
      <p><a href="/profile"><i class="ri-user-2-line"></i></a></p>
      <p><a href="{% url 'logout' %}"><i class="ri-login-box-line"></i></a></p>
    
      {% if current_basic_user_profile.profile_photo  %}
        <div id="profile-photo-left-nav" style="background-image: url('{{ current_basic_user_profile.profile_photo.url }}');"></div>
      {% else %}
        <div id="profile-photo-left-nav"></div>
      {% endif %}  
  
    </div>

    <main class="card-container">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="page-footer">
      <div class="right">All Rights Reserved, &copy; 2022 Tweepy &nbsp;</div>
    </footer>   
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  </html>
  
  