{% extends 'base.html' %}
{% block content %}


<!-- <div style="background-image: url('https://images.unsplash.com/photo-1599785209615-a35f883d93c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80')" class="home-container" id="cuptweeppic"> -->
  
  <ul>
    <!-- <form class="d-flex" method="POST" action="{% url 'tweep_search' %}">
        {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Search Tweeps!" aria-label="Search" name="searched">
      <button type="submit">Search</button>
    </form> -->
  </ul>
  <div class="slogansss">
    <h1 class="slogan">Welcome to Tweepy</h1>
  </div>
</div>





{% endblock %}