.bg-image {
    /* background-size: 80%;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center; */
}

.navbar-custom {
    background-color: rgb(215, 219, 220);
}

.navbar-text {
    color: black;
}

.collapse {
    justify-content: left;
    margin-left: 3rem;
}

.btn {
    border-color: black;
}

.slogan {
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
}

.pslogan {
    justify-content: center;
    text-align: center;
    margin-top: 12rem;
    font-size: 22px;
}

.home-container {
    display: flex;
    justify-content: center;
    /* margin-top: 150px; */
    height: 100vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-position: center;
}

/* #cupcakepic {
    margin-top: 10rem;
} */

.slogansss {
    display: grid;
    margin-top: -1.3rem;
    justify-content: center;
}

.slogan3 {
    font-size: 18px;
}

.card {
    display: grid;
    align-items: center;
    justify-content: center;
}

.form-table {
    display: inline-block;
}