.bg-image {
    /* background-size: 80%;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center; */
}

.navbar-custom {
    background-color: rgb(4, 188, 235);
}

.navbar-text {
    color: black;
}

.collapse {
    justify-content: left;
    margin-left: 3rem;
}

.btn {
    border-color: black;
}

.slogan {
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
}

.pslogan {
    justify-content: center;
    text-align: center;
    margin-top: 12rem;
    font-size: 22px;
}

.home-container {
    display: flex;
    justify-content: center;
    /* margin-top: 150px; */
    height: 100vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-position: center;
}

.slogansss {
    display: grid;
    margin-top: -1.3rem;
    justify-content: center;
}

.slogan3 {
    font-size: 18px;
}

.card {
    display: grid;
    align-items: center;
    justify-content: center;
}

.form-table {
    display: inline-block;
}

.signup-container {
    justify-content: center;
    font-size: small;
    background-color: white;
    width: 840px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 35%);
}

.signup-container img {
    height: 50px;
}

.signup-container input {
    border-radius: 10px;
    border-width: 1px;
}

.signup-container input:last-child {
    color: white;
    background-color: grey;
    padding: 6px 100px;
    border-radius: 24px;
}

.login-container {
    justify-content: center;
    font-size: small;
    background-color: white;
    width: 600px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 35%);
}
.login-container img {
    height: 50px;
}
.login-appDL img {
    width: 150px;
    height: auto;
    flex-direction: row;
}

.signup-btn input {
    border-width: 1px;
    padding: 6px 100px;
    color: white;
    background-color: gray;
    border-radius: 20px;
}

.login-btn input {
    border-width: 1px;
    padding: 6px 100px;
    color: white;
    background-color: gray;
    border-radius: 20px;
}