{% extends 'base.html' %}
{% block content %}


<div class="card">
  <div class="card-content">
      <p>@{{ tweep.user.username }}</p>
      <br>
      <p>{{ tweep.timestamp }}</p>
      <br>
      <p>{{ tweep.tweeps }}</p>
      <br>
      <!-- {% for tag in tweep.tags.all %}
        <a href="{% url 'tweeps_by_tag' tag.slug %}">{{tag.name}}</a>
        {% endfor %} -->
    </div>
    <div class="card-action">
        <a href="{% url 'tweeps_update' tweep.id %}">Edit</a>
        <a href="{% url 'tweeps_delete' tweep.id %}">Delete</a>
      </div>
      <!-- Insert photo markup below this comment -->
      {% for photo in tweep.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}" alt="Tweeps">
      {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}
    </div>

{% endblock %}