{% extends 'base.html' %}
{% block content %}


<div class="card">
  <div class="card-content">
      <p>@{{ tweep.user.username }}</p>
      <br>
      <p>{{ tweep.timestamp }}</p>
      <br>
      <p>{{ tweep.tweeps }}</p>
      <br>
    </div>
    <div class="card-action">
        <a href="{% url 'tweeps_update' tweep.id %}">Edit</a>
        <a href="{% url 'tweeps_delete' tweep.id %}">Delete</a>
      </div>
      {% for photo in tweep.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}" alt="Profile photo">
      {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}
      <form action="{% url 'add_photo' tweep.id %}" enctype="multipart/form-data" method="POST" alt="Tweep Photo" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>
      
    </div>

{% endblock %}